*{
    margin: 0;
    padding: 0;
}

//Proyecto adaptado a una resolución mínima de 1000x700

$colorPagina: rgb(61, 58, 70);
$colorFondo: rgba(39, 38, 39, 1);
$colorTexto: rgb(211, 208, 212);
$colorBoton: rgb(168, 135, 27);

body {
    background-color: rgb(61, 58, 70);
    color: white;
}

#pantallaJuego {
    background-color: rgba(39, 38, 39, 1);
    height: 85vh;

    h2 {
        margin-top: 20px;
        color: $colorTexto;
        font-size: 75px;
        margin-bottom: 50px;
    }

    h3 {
        margin-top: 50px;
        color: $colorTexto;
        font-size: 40px;
        margin-bottom: 50px;
    }
}

#pantallaSuperiorMenu {
    height: 200px;
}

#pantallaCentralMenu{
    height: auto;
    #menuPrincipal p{
    background-color: rgb(168, 135, 27);
    font-size: 20px;
    border: 1px solid rgb(236, 236, 236);
    }
}



.borde {
    background-color: black;
}

.infoCodigo {
    margin-left: 1px;

    p{
        padding: 20px;
    }
}

#seleccionCambioNombre {
    margin-top: 10px;
    background-color: $colorBoton;
}

#selectorPersonaje {
    margin: 20px;
}
.personajeSeleccionable {
    background-color: rgb(90, 88, 97);
    margin-left: 20px;
    margin-right: 20px;
}

.estiloTarjeta {
    color: rgb(202, 201, 198)
}


.fondoJuego {
    background-image: url(../img/fondoJuego.jpg);
    background-position: center;
}

#pantallaSuperior{
    height: 95px;
}

#pantallaCentral{
    height: 300px;
}

#pantallaInferior {
    height: 80px;

    .progress {
        margin-top: 5px;
    }

.hud {
        margin: 2px;
        height: 70%;
        background-color:slategray;

        p{
            margin-top: 5px;
        }

        .lineaDatoHud{
            margin-top: 15px;
        }

}}

#estadisticas {

    height: 90px;
    width: 100px;
    background-image: url(../img/guerrero.png);
    background-position: center;
    margin-top: 5px;
}

#mochila {
    height: 100px;
    width: 100px;
    background-image: url(../img/leather-drawing-15.png);
    background-position: center;
    opacity: 0.5;
}

#mochila:hover {
    opacity: 0.8;
}

#menuInventario {
    margin-top: 5px;
    margin-left: 50px;
    height: auto;
    background-color: rgb(14, 13, 13);
    gap:5px
    }

#muestraInventario{
    margin-top: 5px;
    height: auto;
    background-color: green;
}

.cuadricula{
    width: 97px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.textoPrueba {
    color:black
}
